In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'make':['toyota','BMW','toyota','tesla','tesla','tesla'], 'year':['2018','2019','2017','2016','2015','2010']})

In [3]:
data

     make  year
0  toyota  2018
1     BMW  2019
2  toyota  2017
3   tesla  2016
4   tesla  2015
5   tesla  2010

In [7]:
groups = data.groupby('make')

In [8]:
groups